/* ----------vvvv GENERAL vvvv---------- */
@font-face {
    font-family: lexendMega;
    src: url(../media/fonts/lexendMega.ttf);
}
@font-face {
    font-family: lexendMegaBold;
    src: url(../media/fonts/lexendMegaBold.ttf);
}
@font-face {
    font-family: rufina;
    src: url(../media/fonts/rufina.ttf);
}

@font-face {
    font-family: rufinaBold;
    src: url(../media/fonts/rufinaBold.ttf);
}

@font-face {
    font-family: Avelire;
    src: url(../media/fonts/Avelire.ttf);
}

@font-face {
    font-family: BlackDemon;
    src: url(../media/fonts/BlackDemon.ttf);
}

@font-face {
    font-family: Nightshade;
    src: url(../media/fonts/Nightshade.ttf);
}

@font-face {
    font-family: NotoSans;
    src: url(../media/fonts/NotoSans.ttf);
}

@font-face {
    font-family: NotoSans-Italic;
    src: url(../media/fonts/NotoSans-Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.element-with-custom-cursor {
    cursor: auto;
}

body{
    background-color: black;
}
/* ----------^^^^ GENERAL ^^^^---------- */

/* ----------vvvv Cursor Interactions vvvv---------- */
a:hover{
    animation: hoverChange 2s;
}

/* ----------^^^^ Cursor Interactions ^^^^---------- */

/* ----------vvvv MENU TOP BAR vvvv---------- */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10%;
    height: auto;
    margin-right: 3.5%;
    border-radius: 100%;
    border: rgb(104, 0, 0) 2px solid;
}

.containerMenu {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: black; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: rgb(104, 0, 0) 2px solid;
}

.containerMenu h1 {
    /* font-family: rufina; */
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.containerMenu a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0.8%;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Nightshade; 
    font-size: 1.2rem;
}

.logo {
    width: 100%;
    padding-left: 2%;
}

.logo h1{
    font-family: Nightshade;
    color: white;
    font-size: 2.5rem;
    padding-top: 5%;
    text-align: left;
}

.book{
    padding: 5%;
    /* border-left: #730045 2px dashed;
    border-right: #730045 2px dashed; */
}

.about{
    padding: 5%;
}

.contact{
    padding: 5%;
    /* border-left: #730045 2px dashed; */
}

.reviews{
    padding: 5%;
}
/* ----------^^^^ MENU TOP BAR ^^^^---------- */

/* ----------vvvv SCROLL BAR vvvv---------- */
.scroll-right {
    height: 35px;    
    overflow: hidden;
    position: relative;
    color: rgb(104, 0, 0);
}
.scroll-right p {
    font-family: rufina;
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
 /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
 /* Apply animation to this element */    
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-left {
    0%   { 
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);       
    }
    100% { 
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%); 
    }
}
/* ----------^^^^ SCROLL BAR ^^^^---------- */

/* ----------vvvv PROJECTS vvvv---------- */
.projectContainers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-top: rgb(104, 0, 0) 2px solid;
}

.projectsAll {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: Avelire;
    color: white;
    font-size: 6rem;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: rgb(104, 0, 0) 2px solid;
    position: relative; /* Add position relative for image positioning */
}

.projectsAll a {
    color: white;
    text-decoration: none;
}

.projectContainers img {
    display: none; 
    max-width: 250px;
    max-height: 250px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    box-shadow: 0 4px 8px red;
}

.projectsAll a:hover + img {
    display: block;
    z-index: 999;
}
/* ----------^^^^ PROJECTS ^^^^---------- */
/* ----------vvvv About vvvv---------- */
.aboutSection {
    padding: 50px 0;
    border-top: rgb(104, 0, 0) 2px solid;
    border-bottom: rgb(104, 0, 0) 2px solid;
}

.aboutContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.aboutContainer h2 {
    font-family: Nightshade;
    font-size: 2rem;
    color: white;
}

.aboutContainer p {
    padding-right: 5%;
    padding-left: 5%;
    font-family: rufina;
    font-size: 1.2rem;
    color: white;
    
}
/* ----------^^^^ ABOUT ^^^^---------- */

/* Customer Reviews Section */
.customerReviews {
    background-color: black;
    padding: 50px 20px;
    text-align: center;
    color: white;
    border-top: rgb(104, 0, 0) 2px solid;
    border-bottom: rgb(104, 0, 0) 2px solid;
}
.customerReviews h2 {
    font-family: Nightshade;
    font-size: 2rem;
    color: white;
}
.reviewContainer {
    max-width: 800px;
    margin: 0 auto;
}

.review {
    border: 2px solid rgb(104, 0, 0);
    background-color: #270000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.reviewContent p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.reviewContent .author {
    font-style: italic;
    color: white;
}
/* End Customer Reviews Section */


/* ----------vvvv Contact Form vvvv---------- */
/* Style for form elements */
.formContainer{
    border-top: rgb(104, 0, 0) 2px solid;
    border-bottom: rgb(104, 0, 0) 2px solid;
    padding-bottom: 1.5%;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  /* center all text and elements */
      text-align: center;
      font-family: rufina;
      margin: 0 auto;
      width: 50%;
      padding: 20px;
      border: 2px solid rgb(104, 0, 0);
      border-radius: 10px;
      color: white;
      background-color: black;
      margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    border: 2px solid rgb(104, 0, 0);
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: rufina;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 2px solid rgb(104, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    font-family: rufina;
  }
  
  input[type="submit"]:hover {
    background-color: #11011c;
    animation: hoverBGChange 1s;
  }

  #form-container h1{
    margin-bottom: 3%;
  }

  #form-container p{
    color: white;
  }

  .checkboxContainer{
    font-size: 1.2rem;
  }

  #thankYouMessage{
    margin-top: 3%;
    font-size: 2rem;
    text-align: left;
  }
/* ----------^^^^ Contact From ^^^^---------- */

/* ---------vvvv FOOTER vvvv--------- */
/* ----------vvvv MENU TOP BAR vvvv---------- */
.containerMenuFooter {
    border-top: rgb(104, 0, 0) 2px solid;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: black; */
    padding-top: 2%;
    padding-bottom: 10px;
}

.containerMenuFooter h1 {
    /* font-family: rufina; */
    color: white;
    text-align: center;
}

.containerMenuFooter a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
}

.menuFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Nightshade;
    font-size: 1rem;
}

.logoFooter {
    width: 100%;
    padding-left: 2%;
}

.logoFooter h1{
    font-family: Nightshade;
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.bookFooter{
    padding: 5%;
    /* border-left: #730045 2px dashed;
    border-right: #730045 2px dashed; */
}

.aboutFooter{
    padding: 5%;
}

.contactFooter{
    padding: 5%;
}

.reviewsFooter{
    padding: 5%;
}

/* ----------^^^^ FOOTER ^^^^---------- */

/* ----------vvvv ANIMATIONS vvvv---------- */
@keyframes hoverChange {
    0% {
        color: white;
    }
    100% {
        color: rgb(104, 0, 0);
    }
}

@keyframes hoverBGChange {
    0% {
        background-color: black;
    }
    100% {
        background-color: rgb(104, 0, 0);
    }
}
/* ----------^^^^ ANIMATIONS ^^^^---------- */
